<div class="row">
  <div class="col-xs-12 col-lg-10 offset-lg-1">
    <div class="row">
      {{#each tags}}
      <div class="col-xs-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card shadow-sm p-4">
          <div class="card-body">
            <div class="card-text">
              <h2>{{capitalize @key}}</h2>
                {{#each this}}
                  <p><i class="lni lni-chevron-right"></i> <a class="article-link" href="/{{this.permalink}}">{{this.title}}</a></p>
                {{/each}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <a class="article-readmore" href="/tag/{{@key}}/">See all articles...</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>